.calendar{
	width:450px;
	height:320px;
	border-radius: 5px;
	padding-right: 12px;
	background: #FEF9C7;
    border: 1px solid #2b816f;
}

body {
	background-color: #EDEAE5;
}

#thought-input {
	margin-top: 10px;
	background-color:#f9f7f2;
	border-radius: 5px;
}

#mood-display {
	margin-left: 5px;
}

#small-title {
	font-size: 30px;
	margin-left: 5px;
	padding-top: 5px;
	padding-left: 5px;
}

#prev {
	margin-left: 10px;
	padding-top: 5px;
}

#next {
	margin-left: 5px;
	padding-top: 5px;
}

.body-list ul{
	width:100%;
	font-family:arial;
	font-weight:bold;
    font-size:14px;
    padding: 0;
}

.body-list ul li{
	width:14.28%;
	height:36px;
	line-height:36px;
	list-style-type:none;
	display:block;
	box-sizing:border-box;
	float:left;
    text-align:center;
}

.lightgrey{
	color:#a8a8a8; 
}
.darkgrey{
	color:#565656; 
}
.green{
	color:#2b816f; 
}
.greenbox{
    border:1px solid #026670;
    background:#9FEDD7; 
    border-radius: 8px;
}

#full-display {
    height: 300px;
    overflow: auto;
}

.wrap {
	border: 1px solid #026670;
	border-radius: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
    margin: 5px 0px 5px 0px;
}

.my-date {
    font-size: 14px;
}
.my-thought {
    font-size: 20px;
}

i {
   font-size: 25px;
}