* {
    color: #424242;
}

input[type="email"], input[type="password"] {
    height: 38px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 0 10px;
}

.app-container {
    display: none;
}

#user_div {
    display: flex;
    padding-top: 28px;
}

#logout_button, #user_paragraph {
    float: right;
}

#user_paragraph {
    line-height: 38px;
    margin-right: 20px;
}

#nav {
    display: flex;
    padding: 24px 15px;
}

#nav .nav-button {
    display: block;
    font-size: 24px;
    color: #424242;
    line-height: 40px;
    margin-right: 40px;
    padding: 0 8px;
    border: none;
    background: transparent;
    cursor: pointer;
}

#nav .nav-button:focus {
    outline: none;
}

#nav .nav-button:after {
    content: '';
    display: block;
    position: relative;
    height: 4px;
    width: 0;
    left: 0;
    border-radius: 2px;
    transition: all 0.2s;
    margin: 0 auto;
}

#nav .nav-button:hover:after {
    left: -8px;
    background: #E0E0E0;
    width: calc(100% + 16px);
}

#nav .nav-button.selected {
    color: #1976D2;
}

#nav .nav-button.selected:after {
    left: -8px;
    background: #2196F3;
    width: calc(100% + 16px);
}

h1 {
    padding: 48px 0 24px;
    font-weight: 400;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    padding: 16px 0;
}

.btn-primary {
    position: relative;
    top: -2px;
    left: 10px;
    background-color:#2196F3;
    min-width: 80px;
}

#add {
    top: 20;
    left: 0;
}

textarea, #food-display, #thought-display {
    height: calc(100vh - 360px);
    overflow: auto;
    min-height: 350px;;
}

#mood-display, #food-display, #thought-display {
    border-radius: 8px;
    border: 1px solid #ced4da;
    background-color: #f5f5f5;
}

#food-display {
    padding: 0 15px;
}

#mood-display {
    padding-bottom: 20px;
}

#news-wrap div {
    margin: 4px 0;
}

#news-wrap img {
    width: 100%;
    border-radius: 6px;
}

textarea.form-control {
    border-radius: 8px;
}

.thought-wrap, .food-wrap, .spend-wrap { 
    padding: 10px;
    border-bottom: 1px solid #ced4da;
}

.thought-wrap:last-child, .spend-wrap:last-child {
    border-bottom: none;
}

.my-date {
    font-size: 13px;
    color: #757575;
}

select {
    height: 38px;;
}

#spendt {
    font-size: 24px;
    margin: 10px 0;
}

#spend-input {
    height: 38px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

#small-title {
    font-size: 30px;
}

.body-list ul{
	width:100%;
	font-family:arial;
	font-weight:bold;
    font-size:14px;
    padding: 0;
}

.body-list ul li{
	width:14.28%;
	height:36px;
	line-height:36px;
	list-style-type:none;
	display:block;
	box-sizing:border-box;
	float:left;
    text-align:center;
}

.lightgrey{
	color:#a8a8a8; 
}
.darkgrey{
	color:#565656; 
}
.green{
	color:#2b816f; 
}
.greenbox{
    border:1px solid #2b816f;
    background:#e9f8df; 
    border-radius: 8px;
}

#full-display {
    height: 300px;
    overflow: auto;
}

.my-date {
    font-size: 14px;
}
.my-thought {
    font-size: 20px;
}

#my-mood {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.i-wrap {
    width: 120px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    cursor: pointer;
}

.i-wrap div {
    margin-left: 9px;
    padding: 4px 0;
    height: 24px;;
}

i {
   font-size: 50px;
   color: #2196F3;
}

i.fa-grin-tears {
    position: relative;
    left: -8px;
}

i.fa-kiss-wink-heart {
    position: relative;
    left: -2px;
}

a:hover {
    text-decoration: none;
}

.mood-wrap {
    border: 1px solid rgb(0, 162, 255);
    margin: 5px 0 5px 0;
    width: 100px;
    float: left;
}

.card-img-top {
    width: 50px;
    height: 50px;
}

/* #today {
    width: 300px;
    height:200px;
    border: 1px solid rgb(5, 160, 180);
} */

.card-body {

    height: 20px;
    padding: 0;
}

.card-deck .card {
    flex-grow: 0;
    flex-basis: 80px;
    margin-right: 10px;
    margin-left: 0;
    margin-bottom: 10px;
    height:92px;
    align-items: center;
    padding-top: 10px;
}

h5 {
    font-size: 12px;
}

#balance {
    font-size: 20px;
    margin-bottom: 20px;
}

/* #food-btn, #journal-btn, #mood-btn{   
    width: 50px;
    height: 50px;
    border-radius: 90px;
    margin-top: 20px;
} */

@media (min-width: 576px) {
    .card-deck {
        margin-left: 0;
        margin-right: 0;
    }
}